.animate .letter {
    display: inline-block;
    opacity: 0;
    transform: translateY(20px);
    animation: fadeInUp 0.8s ease-out forwards;
  }
  
  @keyframes fadeInUp {
    to {
      opacity: 1;
      transform: translateY(0);
    }
  }
  

/* Request Button */


@import url('https://fonts.googleapis.com/css2?family=Bebas+Neue&family=Koulen&family=Lato&family=Nunito&family=Playfair+Display:ital@1&family=Prata&family=Raleway:ital,wght@1,100&family=Roboto&family=Roboto+Condensed&family=Teko&display=swap');

.btn{

font-family: Roboto, sans-serif;
font-weight: 0;
font-size: 14px;
color: #000000;
background-color: #ffffff;
padding: 10px 30px;
border: solid #cc0000 2px;
box-shadow: rgba(0, 0, 0, 0.2) 0px 20px 30px;
border-radius: 50px;
transition : 1000ms;
transform: translateY(0);
display: flex;
flex-direction: row;
align-items: center;
cursor: pointer;
position: fixed;
right: 10px;
}

.btn:hover{

transition : 1000ms;
padding: 10px 50px;
transform : translateY(-0px);
color: #ffffff;
background-color: #cc0000;
}

.news_content{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin: 50px auto;
  width: 80%;
}
