.leaflet-bar-part {
    font-size: 14px !important;
    background-color: rgb(254, 254, 255) !important;
    /* margin-left: 800px !important; */
    position: absolute;
    left: 500px;
    bottom: 50px;
    padding: 5px 20px;
    border-radius: 15px;
}



